
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
@{
    if (Model.Any())
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr style="font-weight:bold">
                    <th scope="col">Movies</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td scope="col">@Html.ActionLink(movie.Name, "Edit", "Movies", new { Id = movie.Id }, null)</td>
                        <td scope="col">@movie.Genre.Name</td>
                        <td scope="col">@Html.ActionLink("X","Delete","Movies", new { Id = movie.Id }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>We don't have any movies left</h2>
    }

}

